<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" (submit)="onSignUp(signupForm)" #signupForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="E-Mail"
          name="email"
          ngModel
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid">Please enter a valid E-Mail.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input
          matInput
          type="password"
          name="content"
          placeholder="Password"
          ngModel
          name="password"
          #passwordInput="ngModel"
          required
          password
        >
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading" >Sign Up</button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>

  
  